<!DOCTYPE HTML>
<html>
<head>
<title>Kohaerenz</title>
<link rel="stylesheet" href="css/styles.css" />
</head>

<body>

<div id="header"><h1>Kohaerenz Wiki</h1></div>

<div id="sidebar"></div>

<div id="content">
<h2>Welcome to Kohaerenz Wiki</h2>
<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
</p>
</div>

<!-- Templates -->
<script type="text/template" id="tpl-header">
    <span class="title">Backbone Cellar</span>
	<button class="new">New Wine</button>
</script>

<script type="text/template" id="tpl-wine-list-item">
	<a href='#wines/<%= id %>'><%= name %></a>
</script>

<script type="text/template" id="tpl-wine-details">

    <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Grapes:</label>
        <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
        <label>Region:</label>
        <input type="text" id="region" name="region"  value="<%= region %>"/>
        <label>Year:</label>
        <input type="text" id="year" name="year"  value="<%= year %>"/>
        <button class="save">Save</button>
        <button class="delete">Delete</button>
    </div>

    <div class="form-right-col">
        <img height="300" src="../pics/<%= picture %>"/>
        <label>Notes:</label>
        <textarea id="description" name="description"><%= description %></textarea>
    </div>

</script>

<!-- JavaScript -->

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="models/book.js"></script>
    <script src="collections/library.js"></script>
    <script src="views/book.js"></script>
    <script src="views/library.js"></script>
    <script src="main.js"></script>   

</body>
</html>